<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top header-bg d-flex">
    <div>
      <a class="navbar-brand fw-bolder" href="/">LOCATADS</a>
    </div>
    <div class="header-nav">
      <button
        class="navbar-toggler"
        type="button"
        (click)="fixedNavbarExample2.toggle()"
        aria-controls="fixedNavbarExample2"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div
        mdbCollapse
        #fixedNavbarExample2="mdbCollapse"
        class="collapse navbar-collapse justify-content-end"
        id="fixedNavbarExample2"
      >
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/about']">About Us</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/advertisers']">Advertisers</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/drivers']">Drivers</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/contact']">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->
</header>