
<header class="brand-name">
  <app-header></app-header>
</header>
  
<div class="bg-image header">
  <div class="header-text">
    locate <span class="highlight">ADs</span>,<br/>
    be <span class="highlight">Productive</span>,<br/>
    stay <span class="highlight">Flexible</span>
  </div>
</div>

<section style="padding-top: 60px;">

  <div class="feature">
    <div class="feature-title">
      <h1> locate <br/>
      <span class="highlight">ADs</span></h1>
    </div>
    <div class="feature-content">
      <p>we are changing traditional advertising to smart advertising. effectively showing your product according to live data.</p>
    </div>
  </div>

  <div class="feature">
    <div class="feature-title">
      <h1> be <br/>
      <span class="highlight">Productive</span></h1>
    </div>
    <div class="feature-content">
      <p>we are changing traditional advertising to smart advertising. effectively showing your product according to live data.</p>
    </div>
  </div>

  <div class="feature">
    <div class="feature-title">
      <h1> stay <br/>
      <span class="highlight">Flexible</span></h1>
    </div>
    <div class="feature-content">
      <p>we are changing traditional advertising to smart advertising. effectively showing your product according to live data.</p>
    </div>
  </div>

</section>

