<div class="main">
  <app-side-nav userType="advertiser"></app-side-nav>

  <div class="content">
    <h2>Manage ADs</h2>

    <div class="dashboard-container">
      <button class="btn btn-primary btn-rounded add-btn" (click)="onAdd()">Add</button>

      <h4>Advertisements</h4>
      <p>There are a total of {{adData.length | number}} launched advertisements</p>

      <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
          <tr>
            <th>AD</th>
            <th>Views</th>
            <th>Display</th>
            <th>Visibility</th>
            <th>Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ad of adData" [attr.id]="ad.id">
            <td>
              <div class="d-flex align-items-center">
                <img
                    [src]="ad.img!= null ? ad.img : '/assets/images/ex_img.png'"
                    alt={{ad.img_alt}}
                    style="width: 85px; height: 45px"
                    />
                <div class="ms-3">
                  <p class="fw-bold mb-0">{{ad.adTitle}}</p>
                </div>
              </div>
            </td>
            <td>
              <p class="fw-normal mb-0">{{ad.views | number}}</p>
            </td>
            <td>
              <p class="fw-normal mb-0">{{ad.display | number}}</p>
            </td>
            <td>
              <span class="badge rounded-pill d-inline" 
                [ngClass]="{
                'badge-success':ad.status === 1,
                'badge-primary':ad.status === 0,
                'badge-warning':ad.status === 2,
                }">{{ ad.status === 1 ? "Active"
                  :ad.status === 0 ? "Awaiting"
                  :ad.status === 2 ?"Deactive"
                  :""
                }}</span>
            </td>
            <td>
              <p class="fw-normal mb-0">{{ad.date}}</p>
            </td>
            <td>
              <button type="button" (click)="deleteAd(ad.id)" class="btn btn-link btn-sm btn-rounded">
                Delete
              </button>
              <button type="button" (click)="editAd(ad)" class="btn btn-link btn-sm btn-rounded">
                Edit
              </button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>
</div>
