<div class="main">
  <app-side-nav userType="driver"></app-side-nav>

  <div class="content">
    <h2>Dashboards</h2>

    <div class="dashboard-container">
      <h4>Analysis</h4>
      <p>Over the past 28 days, your drive made 12,001 views</p>
      <div class="chart-container">
        <canvasjs-chart [options]="chartOptions" [styles]="{height:'360px'}"></canvasjs-chart>   
      </div>
    </div>

    <div class="dashboard-container">
      <h4>Taxi Summary</h4>
      <p>There are a total of {{taxiData.length | number}} registered taxis</p>

      <ul class="list-group list-group-light w-100">
        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let taxi of taxiData">
          <div class="d-flex align-items-center">
            <img src={{taxi.img}} alt={{taxi.img_alt}} style="width: 85px; height: 45px" />
            <div class="ms-3">
              <p class="fw-bold mb-1">{{taxi.title}}</p>
              <p class="text-muted mb-0">View {{taxi.views | number}}&nbsp;&nbsp;&nbsp;&nbsp;Display {{taxi.display | number}}</p>
            </div>
          </div>
          <span class="badge rounded-pill"
          [ngClass]="{
            'badge-success':taxi.status === 'Active',
            'badge-primary':taxi.status === 'Awaiting',
            'badge-warning':taxi.status === 'Deactivate',
          }">{{taxi.status}}</span>
        </li>
      </ul>

      <a class="w-100 text-center" href="/drivers/manage">Manage Taxis</a>

    </div>

  </div>

</div>