  
<header class="brand-name">
  <app-header></app-header>
</header>
  
<section style="padding-top: 60px;">

  <div class="feature">
    <div class="feature-title">
      <h1> Make it <br/>
      <span class="highlight">SMART</span></h1>
    </div>
    <div class="feature-content">
      <p>we are changing traditional advertising to smart advertising. effectively showing your product according to live data.</p>
    </div>
  </div>

  <div class="feature" style="background-color: #989898; color: white;">
    <div class="feature-title">
      <h1> Make it <br/>
      <span class="highlight">MOVE</span></h1>
    </div>
    <div class="feature-content">
      <p>we are changing traditional advertising to smart advertising. effectively showing your product according to live data.</p>
    </div>
  </div>

  <div class="feature">
    <div class="feature-title">
      <h1> Make it <br/>
      <span class="highlight">REASONABLE</span></h1>
    </div>
    <div class="feature-content">
      <p>we are changing traditional advertising to smart advertising. effectively showing your product according to live data.</p>
    </div>
  </div>

</section>
